/*noinspection CssUnknownTarget*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100%;
    color: #333333;
    font-size: 18px;
    line-height: 1.4;
}
body {
    padding: 0;
    margin: 0 0 100px 0;
}
header {
    background-color: #4873b8;
    padding: 0 10%;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.menu-item, .logo {
    display: inline-block;
    height: 50px;
    color: white;
    text-decoration: none;
}
.menu-item {
    padding: 0 7px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background-color .25s ease;
}
.menu-item:hover {
    background-color: #385186;
}

.right {
    float: right;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    width: 100%;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
body form .button {
    margin-top: 20px;
}
.film {
    margin-top: 30px;
}
.form textarea {
    margin-bottom: 17px;
}
.form select {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 15px
}
.main-content {
    padding: 15px 10%;
    margin-bottom: 30px;
}
footer {
    padding: 0 10%;
    position: absolute;
    bottom: 20px;
}
a {
    color: #333333;
}
.seat {
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 12px;
    height: 12px;
}
.free {
    background-color: lightskyblue;
}
.taken {
    background-color: firebrick;
}
.darkblue {
    background-color: dodgerblue;
}
.orange {
    background-color: orange;
}
.hint {
    position: relative;
    display: inline-block;
}

.hint:before, .hint:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
}


.hint:hover:before, .hint:hover:after {
    opacity: 1;
}

.hint:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
}

.hint:after {
    content: attr(data-hint);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* top */

.hint--top:before {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -18px 0;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.hint--top:after {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
    margin-bottom: -10px;
}

.hint--top:hover:after {
    margin-bottom: 2px;
}

/* default: bottom */

.hint--bottom:before {
    top: 100%;
    left: 50%;
    margin: -14px 0 0 0;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}
.buy-tickets-form {

}
.button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.item {
    font-size: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.item img {
    margin: 20px 0;
    width: 300px;
    height: auto;
}
.item span {
    font-weight: bold;
    display: inline-block;
}

.pagination {
    margin-top: 40px;
}
.pagination a, .pagination span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #4C73BB;
    color: #4C73BB;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    transition: all .25s ease;
}

.pagination .current {
    background-color: #549DED;
    cursor: pointer;
    color: white;
}
.pagination .active:hover {
    background-color: #4f8dd8;
    color: white;
}
.pagination .disabled {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

.error-message {
    font-size: 60px;
}

button.disabled {
    background: grey!important;
}
button.disabled:hover {
     background: grey!important;
}
.success-msg,
.warning-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    width: max-content;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.chosen {
    font-weight: bold;
    font-size: 19px;
}
h1, h2 {
    margin: 0 0 5px 0;
}
.header {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
}